*{
	background-color: #FFE2E2;
	font-family: sans-serif;
	font-size: 10px;

}
#Principales{
	text-align: center;
	color: #123543;
	font-style: italic;	
	background-color: red;

}

.Secundarias{
	text-align: center;
	color: green;
	font-family: sans-serif;
	background-color: yellow;
}

.Parrafos{
	text-align: left;
	color: blue;
	font-family: cursive;
	font-style: italic;
	background-color: skyblue;


}
.Encabecedores{
	background-color: #97C8C9;

}